body {
    margin: 0;
}

.pageContainer {
    width: 1000px;
    margin: 0 auto;
    background-color: antiquewhite;
}

.bayanLayout {
    margin: 0 auto;
    max-width: 700px;
}

.elementContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
}

.title {
    margin: 0;
}

.elementImage {
    max-width: 500px;
    display: block;
    margin: 0 auto;
}