html {
    overflow-x: hidden;
    width: 100vw;
}

body, hr {
    margin: 0;
}

.pageContainer {
    width: 1000px;
    margin: 0 auto;
    background-color: antiquewhite;
}

.bayanLayout {
    margin: 0 auto;
    max-width: 700px;
}

.bayanHeader {
    padding: 20px 0;
}

.bayanLayout:hover, 
.elementContainer:hover, 
.elementIcon:hover {
    cursor: pointer;
}

.clickableRow {
    display: none;
}

.elementContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
}

.elementIcon, 
.elementIcon1,
.elementIcon2 {
    margin: auto 0;
}

.elementImage {
    opacity: 0;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: opacity 0.3s, width 0.5s;
}

input:checked + label + .elementImage {
    opacity: 1;
    margin: 0 auto 40px;
    width: 70%;
    height: auto;
    transition: opacity 0.3s, width 0.5s;
}

.elementIcon1 {
    display: none;
}

input:checked + label > div > .elementIcon2 {
    display: none;
}

input:checked + label > div > .elementIcon1 {
    display: initial;
}

